<style>
  .card {
    box-shadow: 5px 5px 5px grey;
    transition:background-color 1s ease;
  }
  .card:hover{
    background-color:rgba(0, 0, 0, 0.06);
    cursor:grab;
  }
  .card-text{
    height:100px;
  }
  .card-subtitle{
    height:100px;
  }
  .card-github-link{
      float:right;
  }
  .card-github-link:hover{
      color:grey;
  }
  .project-link{
      text-decoration: none;
  }
  .project-link:hover{
      text-decoration: none;
  }
</style>
<br />
<br />
<br />



                {{#if dbProjects}}

                <div class="container">
                    <div class="row">
                {{#each dbProjects}}
                <a class="project-link" href="{{url}}" target="_blank">
                        <div class="col-md-3 card-container">
                            <div class="card mb-3 animated fadeIn">
                                <h4 class="card-header"><b>{{name}}</b></h4>
                                <div class="card-body">
                                    <h6 class="card-subtitle text-muted">{{technologies}}</h6>
                                </div>
                                <img class="mx-auto" style="height: 175px; width: 100%; display: block;" src="{{image}}" alt="Card image">
                                <div class="card-body">
                                    <p class="card-text">{{description}}</p>
                                </div>
                                <div class="card-body">
                                    <div class="form-row text-center">
                                    <div class="col-12">
                                        {{!-- <a class="card-link" href="{{url}}">Project url</a> --}}
                                        
                                    </div>
                                    </div>
                                </div>
                                <div class="card-footer text-muted">
                                    {{date}}
                                    <a class="card-github-link" target="_blank" href="{{github_url}}" title="Github Repository"><i class="fab fa-github fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                {{/each}}
                    </div>
                </div>
                {{else}}
                <h1>Sorry, there's nothing here!</h1>
                {{/if}}
                
                

            </div>
        </div>
    </div>

